#hero-bg {
	width: 100%;
	background-image: linear-gradient(163deg, #cb1a57, #a63f0d);
	top: 0px;
	z-index: -1;
}

#hero-content {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

#hero-content h1 {
	margin: 0;
	white-space: nowrap;
	font-family: 'Roboto', sans-serif;
	font-size: 72px;
	line-height: 1.2;
	color: #d4e7e8;
	text-shadow: 0px 4px rgba(0, 0, 0, 0.3);
	
	/* flex-grow: 2; */
}

#hero-content h1 .script {
	font-family: 'Dancing Script', serif;
}

#hero-content h3 {
	margin: 0;
	/* font-size: 22px; */
	line-height: 2;
	text-align: center;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	margin: 0 5%;;
	/* flex-grow: 1; */
	/* flex: 680px 1 1; */
	/* background-color: rgba(0, 0, 0, 0.1); */
	/* width: 680px; */
}

#intro-text {
	align-self: center;
	width: 750px;
	height: 175px;
}



/*////////////////////////*/
/* RESPONSIVE BREAKPOINTS */
/*////////////////////////*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	
	#hero-content {
		flex-direction: column;
	}

	#hero-content h1 {
		font-size: 60px;
	}

	#hero-content h1, #hero-content h3 {
		margin: 30px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

	#hero-content {
		flex-direction: column;
	}

	#hero-content h1 {
		font-size: 60px;
	}

	#hero-content h1, #hero-content h3 {
		margin: 30px;
	}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

	#hero-content {
		flex-direction: row;
	}

	#hero-content h1 {
		font-size: 64px;
	}

	#hero-content h1, #hero-content h3 {
		margin: 32px;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#hero-content h1 {
		font-size: 68px;
	}

	#hero-content h3 {
		font-size: 18px;
	}

	#hero-content h1, #hero-content h3 {
		margin: 34px;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	#hero-content h1 {
		font-size: 72px;
	}

	#hero-content h3 {
		font-size: 22px;
	}

	#hero-content h1, #hero-content h3 {
		margin: 36px;
	}
}













