@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700|Montserrat:300i|Roboto+Condensed:700i|Roboto:900i');

:root {
	--color-dark: #0C0F0A;
	--color-pink : #FF206E;
	--color-yellow : #FBFF12;
	--color-yellow : #FBFF12;
	--color-turquoise : #41EAD4;
	--color-white : #FFFFFF;
}

html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	position: relative;
	/* background: blue; */
}

footer {
	bottom: 0px;
	color: white;
	margin: 0;
	padding: 20px;
	background-color: rgba(12, 15, 10, 0.55);
}

/* .hidden {
	display:none;
} */

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
}





.gradient-light {
  background: -webkit-linear-gradient(#3fe9d3, #fff);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	#hero-content {
		/* flex-direction: column; */
	}

	.fixed-width {
		width: 600px;
		margin: auto;
	}
} 


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	#hero-content {
		/* flex-direction: row; */
	}

	.fixed-width {
		width: 768px;
		margin: auto;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.fixed-width {
		width: 992px;
		margin: auto;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.fixed-width {
		width: 1200px;
		margin: auto;
	}
}